List of referenced material and websites:

<ul>
    <li>https://deepai.org/machine-learning-model/text2img <span>generated icon (maybe idk not working)</span></li>
    <li>https://cooltext.com/ <span>generated website title image</span></li>
    <li> <a href="https://www.vecteezy.com/free-png/magnifying">Magnifying PNGs by Vecteezy</a> <span>For the magnifying glass image</span></li>
    <li>https://www.prolific.com/blog/shocking-ai-bias <span>referenced periodically throughout website</span></li>
    <li>https://dl.acm.org/doi/fullHtml/10.1145/3491102.3501995 <span>referenced periodically thoughout website</span></li>
    <li>https://www.shrm.org/resourcesandtools/hr-topics/talent-acquisition/pages/the-real-costs-of-recruitment.aspx  <span>referenced periodically thoughout website</span></li>
    <li> <span>referenced periodically thoughout website</span></li>
    <li> <span>referenced periodically thoughout website</span></li>
    <li> <span>referenced periodically thoughout website</span></li>
    <li> <span>referenced periodically thoughout website</span></li>
</ul>