Wesbsite Designed in 2023 for CSC398, a Ethics in AI course at University of Toronto as a course project. <br />

<br /><br />
List of referenced material and websites:

<ul>
    <li>https://deepai.org/machine-learning-model/text2img   <span>- Used for generating website favicon</span></li>
    <li>https://cooltext.com/ <span>- Used for generating website title image</span></li>
    <li><a href="https://www.vecteezy.com/free-png/magnifying">Magnifying PNGs by Vecteezy</a> <span>- Used for magnifying glass image</span></li>
    <li><a href="https://www.prolific.com/blog/shocking-ai-bias">4 shocking AI bias examples</a> <span>- referenced periodically throughout website</span></li>
    <li><a href="https://dl.acm.org/doi/fullHtml/10.1145/3491102.3501995">“It's Kind of Like Code-Switching”: Black Older Adults' Experiences with a Voice Assistant for Health Information Seeking</a> <span>- referenced periodically thoughout website</span></li>
    <li><a href="https://www.shrm.org/resourcesandtools/hr-topics/talent-acquisition/pages/the-real-costs-of-recruitment.aspx">The Real Costs of Recruitment</a>  <span>- referenced periodically thoughout website</span></li>
    <li><a href="https://reporter.rit.edu:8443/tech/bigotry-encoded-racial-bias-technology">Bigotry Encoded: Racial Bias in Technology</a> <span>- referenced periodically thoughout website</span></li>
    <li><a href="https://en.wikipedia.org/wiki/Weapons_of_Math_Destruction">Weapons of Math Destruction</a> <span>- referenced periodically thoughout website</span></li>
    <li><a href="https://en.wikipedia.org/wiki/Race_After_Technology">Race After Technology</a> <span>- referenced periodically thoughout website</span></li>
    <li><a href="https://www.tandfonline.com/doi/full/10.1080/23793406.2020.1812110">Discomforting presence in the classroom - the affective technologies of race, racism and whiteness</a> <span>- referenced periodically thoughout website</span></li>
    <li>https://images2.alphacoders.com/922/922574.jpg <span> - Used for background images in quizes</span></li>
</ul>