<h1 class="title">The Lens</h1>
<p class="center">Using the lens we can uncover biases in the following technologies</p>

<div class="text-container" *ngFor="let technology of technologies">
    <span class="large-left">
        {{ technology.technology}}
    </span>
    
    <p class="text-left-indent">
       {{ technology.body}}
    </p>
</div>

<span class="large-left">
    And the list only continues... but what are the rights and wrongs?
</span>

<div class= "selection-container">
    <p-button [severity]="goodSeverity" [label]="goodText" (mouseover)="handleOnHover(true)" (mouseout)="handleOnLeave(true)"></p-button>
    <p-button [severity]="badSeverity" [label]="badText" (mouseover)="handleOnHover(false)" (mouseout)="handleOnLeave(false)"></p-button>
</div>