<div *ngIf="conversationInfo | async as info">
    <div class="conversation-container" *ngIf="currentPrompt | async as conversation">
        <div class="display-container" *ngIf="conservationLog | async as log">
            <div *ngFor="let speech of log">
                <p *ngIf="!speech.speakerIsHuman" class="robot-text" [ngClass]="info.textAnimate ? 'typewriter' : 'typewriter-no-animation'">{{ speech.content }}</p>
                <p *ngIf="speech.speakerIsHuman" class="human-text"[ngClass]="info.textAnimate ? 'typewriter' : 'typewriter-no-animation'">{{ speech.content }}</p>
            </div>
        </div>
        <div class="message-container">
            <div class="prompt-container">
                <div class="prompt">
                    <p id="prompt" [ngClass]="info.textAnimate ? 'typewriter-typing' : 'typewriter-no-animation'">{{ conversation.prompt }}</p>
                </div>
                <p-button label="Submit"></p-button>
            </div>
    
    
            <div class="responses" >
                <div *ngFor="let option of conversation.options">
                    <input (click)="handleClick(option)" class="banana" readonly="readonly" type="text" pInputText style="width: 100%; cursor: pointer; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;" [placeholder]="option.prompt" />
                </div>
            </div>
        </div>
    </div>
</div>
