.conversation-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.display-container {
    flex: 4;
    overflow-y: scroll;
}

.message-container {
    flex: 1;
}

.prompt-container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.prompt {
    margin-right: auto;
}

.responses {
    border-bottom: 1px solid black;
}

.robot-text {
    text-align: right;
    padding-bottom: 10px;
}



/* Modified from https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0;
    animation: 
        typing 1.5s steps(40, end);  
  }

  .typewriter-no-animation {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0;
    animation: 
        typing 0.3s steps(40, end);  
  }

  .typewriter-typing {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0;
    margin-right: auto;
    animation: 
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite;
  }

  .typewriter-typing-no-animation {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid transparent; /* The typwriter cursor */
    margin: 0;
    animation: 
        typing 0.3s steps(40, end),
        blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0;  }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }