.conversation-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.display-container {
    flex: 4;
    overflow-y: scroll;
}

.message-container {
    flex: 1;
}

.prompt-container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.prompt {
    flex: 5;
}

.responses {
    border-bottom: 1px solid black;
}


.banana:hover {
    background-color: lightblue;
}