<h1 class="title">The Code</h1>

<div class="body-container">
    <p>
        One of the greatest misconception about technology is that technology cannot discriminate.
        In paritcular, we base it off the following misconception:
    </p>
    <div class="bolded-centerd-comment">"Physics is physics."</div>
    <p>
        No matter what reason, physics will continue to do what it does. An apple will not stop falling from a tree even
        if the entire world is on fire. And so We say that "Technology is technology." and apply the same rationality. 
        Which leads us towards the conclusion that technology is unbiased.
    </p>
    <div class="bolded-centerd-comment">But this thinking is <span class="red">DANGEROUS</span></div>
    <br />
    
    Hidden behind every technology is a developer, a <b>human</b>.
    <pre class="no-margin">            a developer with skills, talents, and capabilities. a <b>human</b></pre>
    <pre class="no-margin">                        a developer with a favorite lunch, favorite snack, favorite person. a <b>human</b></pre>
    <pre class="no-margin">                                    a developer with who hates working on mondays and the traffic on the way home. a <b>human</b></pre>
    <pre class="no-margin">                                                a developer with <span class="red">BIASES</span>. And yet a <b class="red">human</b></pre>

    <br />
    <p class="bolded-centerd-comment">
        Every technology is thus built by developers with biases and every piece of technology flawed with personal bias.
    </p>

    <p class="center">
        Equip the lens to explore the various ways technology has been affected by these biases.
    </p>


    <img src="assets/magnifying glass.png" class="lens" postion="right" pTooltip="Uncover the hidden biases in technology with the lens" (click)="handleClick()"/>

</div>

