<div class="warning-message">
    The following conversations include matters that touch upon sensitive matters (specifically racism) and are taken from: <br />
<a href="https://www.tandfonline.com/doi/full/10.1080/23793406.2020.1812110">Discomforting presence in the classroom - the affective technologies of race, racism and whiteness</a>
</div>

<div class="buttons">
    <p-button severity="danger" class="leave" (click)="onClick(false)" label="Leave page"></p-button>
    <p-button  severity="success" class="continue" (click)="onClick(true)" label="Continue to page"></p-button>
</div>
