<p class="welcome">Welcome to <strong>Coded Lens</strong>.</p>
<p class="description">
    We remove the hidden views of biases in technology. To begin click the "Get Started" button or navigate to select pages from the navigation bar. <br />
</p>

<div class="page-content">
    <div class="carousel">
        <p-carousel 
        [value]="quotes" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="true" 
        [autoplayInterval]="4500">
            <ng-template let-quote pTemplate="Quote">
                <div class="quotes">
                    <div class="quote">
                        <h4 class="quotation" [ngStyle]="{'font-size': quote.size}"><span class="huge-quote">"</span>{{ quote.quote }}<span class="huge-quote">"</span></h4>
                        <div>
                            <strong class="author">{{ quote.author }}</strong> <br />
                            <strong class="title">{{ quote.title }}</strong>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    
    <div class="get-started" >
        <p-button 
        label="Get Started" 
        [rounded]="true"
        [outlined]="true" 
        severity="danger"
        size="large" 
        (click)="navigateToStart()"
        ></p-button>
    </div>
    
</div>

<hr>

<p class="description">
    <b>DISCLAIMER: This website includes conversations that touch upon sensitive matters (human surveillance, racism, immoral choices) related to technology.</b>
</p>

